/**
 * 公共样式
 */
.label, .text, .text-field, .text-area {
	-fx-font-size: 14.0px;
}
.text-field, .text-area {
	-fx-padding: 4.0 4.0 4.0 4.0;
}
.text-field:focused, .text-area:focused {
	-fx-prompt-text-fill: rgb(186.0, 186.0, 186.0);
}
.button {
	-fx-cursor: hand;
	-fx-font-weight: bold;
	-fx-padding: 4.0 8.0 4.0 8.0;
}

/**
 * 登录页面
 */
#titleHBox {
	-fx-border-color: #C8C8C8 #F4F4F4 #C8C8C8 #F4F4F4;
}
#welcome-text {
	-fx-font-size: 28px;
}
#errorMessage {
	-fx-font-size: 14.0px;
	-fx-fill: FIREBRICK;
}

/**
 * 普通页面
 */
.labelTitle {
	-fx-text-fill: BLACK;
}
.labelContent {
	-fx-text-fill: DEEPPINK;
}
.-fx-area-border {
	-fx-border-color: #C8C8C8 #F4F4F4 #F4F4F4 #F4F4F4;
}

/* 配载区 */
.-fx-loading {
	-fx-border-radius: 30;
	-fx-border-width: 2;
	-fx-border-color: BLACK;
	-fx-alignment: CENTER;
	-fx-spacing: 30;
	-fx-padding: 5 5 5 5;
}
.-fx-loading-border {
	-fx-background-color: BLACK;
	-fx-spacing: 1px;
	-fx-padding: 1px;
}
.-fx-loading-separator {
	-fx-background-color: #C8C8C8;
}
.-fx-loading-shape-uld {
	-fx-background-color: WHITE;
	-fx-alignment: CENTER;
	-fx-pref-width: 67px;
	-fx-pref-height: 95px;
	-fx-min-width: 67px;
	-fx-min-height: 95px;
}
.-fx-loading-shape-bulk {
	-fx-background-color: WHITE;
	-fx-alignment: CENTER;
	-fx-pref-width: 67px;
	-fx-pref-height: 85px;
	-fx-min-width: 67px;
	-fx-min-height: 85px;
}

/* 待配载区 */
.-fx-loadingToDo {
	-fx-border-width: 2;
	-fx-border-color: BLACK;
	-fx-padding: 0 0 0 0;
}
.-fx-loadingToDo-flow {
	-fx-pref-width: 353px;
	-fx-vgap: 2;
	-fx-hgap: 2;
	-fx-padding: 5 0 5 5;
}
.-fx-loadingToDo-shape-uld {
	-fx-border-color: #C8C8C8 #C8C8C8 #C8C8C8 #C8C8C8;
	-fx-background-color: WHITE;
	-fx-alignment: CENTER;
	-fx-cursor: MOVE;
	-fx-pref-width: 67px;
	-fx-pref-height: 95px;
	-fx-min-width: 67px;
	-fx-min-height: 95px;
}
.-fx-loadingToDo-shape-bulk {
	-fx-border-color: #C8C8C8 #C8C8C8 #C8C8C8 #C8C8C8;
	-fx-background-color: WHITE;
	-fx-alignment: CENTER;
	-fx-pref-width: 67px;
	-fx-pref-height: 95px;
}
.-fx-loadingToDo-dropColor {
	-fx-border-color: BLACK;
	-fx-background-color: #F4F4F4;
}
