/**
 * 公共样式
 */
.label, .text, .text-field, .text-area {
	-fx-font-size: 14.0px;
}
.text-field, .text-area {
	-fx-padding: 4.0 4.0 4.0 4.0;
}
.text-field:focused, .text-area:focused {
	-fx-prompt-text-fill: rgb(186.0, 186.0, 186.0);
}
.button {
	-fx-cursor: hand;
	-fx-font-weight: bold;
	-fx-padding: 4.0 8.0 4.0 8.0;
}

/**
 * 登录页面
 */
#titleHBox {
	-fx-border-color: #C8C8C8 #F4F4F4 #C8C8C8 #F4F4F4;
}
#welcome-text {
	-fx-font-size: 28px;
}
#errorMessage {
	-fx-font-size: 14.0px;
	-fx-fill: FIREBRICK;
}

/**
 * 普通页面
 */
.vBox {
	-fx-border-color: #C8C8C8 #F4F4F4 #C8C8C8 #F4F4F4;
}

.labelTitle {
	-fx-text-fill: BLACK;
}

.labelContent {
	-fx-text-fill: DEEPPINK;
}
